
    <!-- *** NAVBAR ***
_________________________________________________________ -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scrollTo" href="#intro">TRICARRO</a>
            </div>

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#intro">Home</a>
                    </li>
                    <li><a href="#services">Servicios</a>
                    </li>
                    <li><a href="#testimonials">Búsquedas</a>
                    </li>
                    <li><a href="#references">Reservas</a>
                    </li>
                    <li><a href="#contact">contáctanos</a>
                    </li>
                    <li><a href="#login">Login</a>
                    <li>
                    <li><a href="#login">Logout</a>
                    <li>    
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->


    <div id="all">


        <!-- *** INTRO IMAGE ***
    
_________________________________________________________ -->
        <div id="intro" class="clearfix">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="carousel-caption">
                            <div data-animate="fadeInDown logo">
                                <img src="./assets/LogoUCO.png" alt="logo" width="130">
                            </div>
                            <h1 data-animate="fadeInDown">Hola! gracias por visitar nuestro sitio web</h1>
                            <h2 data-animate="slideInUp">Aquí encontrará toda la información sobre los parqueaderos de las diferentes ciudades.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *** INTRO IMAGE END *** -->

        <!-- *** SERVICES ***
_________________________________________________________ -->
        <div class="section text-gradient" id="services">
            <div class="container">
                <div class="col-md-12">
                    <h2 class="title" data-animate="fadeInDown">Servicios</h2>

                    <div class="row services">

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-search"></i>
                            </div>
                            <h3 class="heading">Consulta</h3>
                            <p>Aquí podras consultar y visualizar toda la información que ofrecemos sobre los parqueaderos de cualquier ciudad, la busqueda la puedes realizar a través del mapa o por algún filtro en específico.</p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-check-square-o"></i>
                            </div>
                            <h3 class="heading">Reservas</h3>
                            <p>Cuando encuentres el parqueadero de tu agrado podras reservar una o varias celdas según disponga este, con lo cual tendras un cupo garantizado para ir a estacionarte en el momento o día que lo indiques, el pago lo puedes realizar a través de nuestro PSE de manera segura y confiable.</p>
                        </div>

                        <div class="col-md-4" data-animate="fadeInUp">
                            <div class="icon"><i class="fa fa-window-restore"></i> 
                            </div>
                            <h3 class="heading">Pendiente</h3>
                            <p>Dejarlo vacido o ponerle algo más.</p>
                        </div>

                    </div>

                    <hr>

                    <div class="text-center">

                        <p class="lead">Tienes alguna inquietud o deseas aportar información?</p>

                        <p><a href="#contact" class="btn btn-default btn-lg scrollTo">Contáctame</a>
                        </p>

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** SERVICES END *** 
_________________________________________________________ -->

        <div class="section text-gray" id="testimonials" data-animate="fadeInUp">

            <div class="container">
                <div class="col-md-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">Aquí encontrará el Parqueadero<br /><span>de su preferencia</span></h2>


                    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
                    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
                    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                    <!------ Include the above in your HEAD tag ---------->

                    <div class="container">
                        <div class="row">

                            <div class="col-md-12">
                                <form class="form-inline form-filtro">
                            
                            <div class="form-group">
                              <label class="sr-only" for="filtro-tipo">Ciudad</label>
                              <select class="form-control" id="filtro-tipo">
                                <option value="">Medellin</option>
                                <option value="">Bogota</option>
                                <option value="">Cartagena</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label class="sr-only" for="filtro-conta">Tipo vehículo</label>
                                <select class="form-control" id="filtro-conta">
                                <option value="">Moto</option>
                                <option value="">Automovil</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label class="sr-only" for="filtro-categoria">Categoria</label>
                              <select class="form-control" id="filtro-categoria">
                                <option value="">Categoria</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-primary">Buscar</button>
                              <button type="reset" class="btn btn-default">Limpiar</button>
                            </div>
                          </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.owl-carousel -->
                </div>
                <!-- /.12 -->
            </div>
                
                            <!-- /.container -->
                
        </div>
            
            
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            <agm-marker [latitude]=6.256943332534006 [longitude]=-75.56636810302734 [title]=losolivos [label]="Parque"></agm-marker>   
            </agm-map>
            
            <!-- Control buttons -->
                <div id="myBtnContainer">
                  <button class="btn active" onclick="filterSelection('all')"> Mostrar todo</button>
                  <button class="btn" onclick="filterSelection('cars')"> Medellin</button>
                  <button class="btn" onclick="filterSelection('animals')"> Bogota</button>
                  <button class="btn" onclick="filterSelection('fruits')"> Cartagena</button>
                  <button class="btn" onclick="filterSelection('colors')"> De motos</button>
                </div>

                <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
                <div class="container">
                  <div class="filterDiv cars">Parqueaderolosolivos</div>
                  <div class="filterDiv colors fruits">La 51</div>
                  <div class="filterDiv cars">Park 24horas</div>
                  <div class="filterDiv colors">Red</div>
                  <div class="filterDiv cars animals">Mustang</div>
                  <div class="filterDiv colors">Blue</div>
                  <div class="filterDiv animals">Cat</div>
                  <div class="filterDiv animals">Dog</div>
                  <div class="filterDiv fruits">Melon</div>
                  <div class="filterDiv fruits animals">Kiwi</div>
                  <div class="filterDiv fruits">Banana</div>
                  <div class="filterDiv fruits">Lemon</div>
                  <div class="filterDiv animals">Cow</div>
                </div>
        </div>
        <!-- /.section -->

        <!-- *** TESTIMONIALS END *** -->

        <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
        <div class="section" id="references">
            <div class="container">
                <div class="col-sm-12">

                    <div class="mb20">
                        <h2 class="title" data-animate="fadeInUp">Equipo de desarrollo</h2>
                    </div>
                    <br><br>

                    <!-- Reference detail -->

                   
                    <!-- /#references-masonry -->

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** REFERENCES END *** -->

        <!-- *** CUSTOMERS ***
            
_________________________________________________________ -->

        <div class="section contact" id="contact" data-animate="bounceIn">
            <div class="container">
                <div class="col-md-12">

                    <h2 class="title">CONTÁCTAME</h2>

                    <div class="row">

                        <div class="col-md-8 col-md-offset-2">
                            <form id="contact-form" method="post" action="contact.php">

                                <div class="messages">

                                </div>

                                <div class="controls"> 

                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" class="form-control" placeholder="Nombre *" required="required">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="surname" class="form-control" placeholder="Apellido *" required="required">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="email" class="form-control" placeholder="Email *" required="required">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="phone" class="form-control" placeholder="Teléfono">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea name="message" class="form-control" placeholder="Mensaje *" rows="4" required="required"></textarea>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <input type="submit" class="btn btn-primary btn-lg" value="Enviar mensaje">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
                <!-- /.12 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** CONTACT END *** -->

        <!-- *** FOOTER ***
____________________________________ -->


<div class="section" id="login">
        <button class="btn btn-lg" data-toggle="modal" data-target="#miventana">
                Abrir ventana
        </button>
            <div class="modal fade" id="miventana" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                            <h4>Iniciar sesión</h4>

                        </div>
                        <div class="modal-body">
                               jajajaasdsd que se le hace a esta chimbada pa que no se cierrre al dar click
                               <form #loginForm="ngForm" (ngSubmit)= login(loginForm) >
                                    <input type="text" name="email" id="email" placeholder="Email" ngModel>
                                    <input type="password" name="password" id="password" placeholder="Password" ngModel>
                                    <button type="submit">Login</button>
                                  
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button"class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>

            </div>
        <!-- /.container -->
</div>
    <!-- /.section -->

    <!-- *** REFERENCES END *** -->

    <!-- *** CUSTOMERS ***
        
_________________________________________________________ -->

        <div class="section" id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-sm-6">

                        <p class="social">
                            <a href="https://www.facebook.com/" class="external facebook" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/" class="external instagram" data-animate-hover="shake" data-animate="fadeInUp" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="external gplus" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email" data-animate-hover="shake" data-animate="fadeInUp"><i class="fa fa-envelope"></i></a>
                        </p>
                    </div>
                    <!-- /.6 -->

                    <div class="col-sm-6">
                        <p>&copy; Todos los derechos reservados.</p>
                    </div>

                    <div class="col-sm-12">
                        <p class="template-bootstrapious">Página desarrollada por<a href="http://www.uco.edu.co/Paginas/home.aspx" target="_blank"> Estudiantes UCO</a></p>
                        
                        <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->
                        
                    </div>

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /.section -->

        <!-- *** FOOTER END *** -->
    </div>
    <!-- /#all --> 
<!-- 
    <div>
        <router-outlet></router-outlet>
    </div> -->
    