<div class="section" id="login">
    <div class="container">
        <div class="col-sm-12">

            <div class="mb20">
                <h2 class="title" data-animate="fadeInUp">Equipo de desarrollo</h2>

                <form #loginForm="ngForm" (ngSubmit)= login(loginForm) >
                        <input type="text" name="email" id="email" placeholder="Email" ngModel>
                        <input type="password" name="password" id="password" placeholder="Password" ngModel>
                        <button type="submit">Login</button>
                      
                      </form>
            </div>
            <br><br>

            <!-- Reference detail -->

            <!-- /#login-masonry -->

        </div>
        <!-- /.12 -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->

<!-- *** REFERENCES END *** -->

<!-- *** CUSTOMERS ***
    
_________________________________________________________ -->