        <!-- *** REFERENCES IMAGE ***
_________________________________________________________ -->
<div class="section" id="references">
  <div class="container">
      <div class="col-sm-12">

          <div class="mb20">
              <h2 class="title" data-animate="fadeInUp">Equipo de desarrollo</h2>
              <p class="lead" data-animate="fadeInUp">SW II</p>
          </div>
          <br><br>

          <!-- Reference detail -->

          <div id="references-masonry" data-animate="fadeInUp">

            
              <div class="reference-item" data-category="seo">
                  <div class="reference">
                      <a href="#">
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.facebook.com/arr331/" target="_blank">Adrian Ramirez</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de Ingenieria de Sistemas, actualmente trabaja  en el club Llano grande.</p>
                          </div>
                      </a>
                  </div>
              </div>

              <div class="reference-item" data-category="marketing">
                  <div class="reference">
                      <a href="#">
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.facebook.com" target="_blank">Yesid Orrego</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de Ingenieria de sistemas</p>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="reference-item" data-category="marketing">
                  <div class="reference">
                      <a href="#">
                          <div class="overlay">
                              <h3 class="reference-title"><a id="autor" href="https://www.facebook.com" target="_blank">Mateo Pelaez Marin</a></h3> 
                              <p id="descripcionDesarrolador">Estudiante de ingenieria de sistemas.</p>
                          </div>
                      </a>
                  </div>
              </div>
          </div>
          <!-- /#references-masonry -->

      </div>
      <!-- /.12 -->
  </div>
  <!-- /.container -->
</div>
<!-- /.section -->

<!-- *** REFERENCES END *** -->